<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category.capitalize %></p>

  <div class="card">
    <h3>Reviews</h3>
    <ul>
      <% @restaurant.reviews.each do |review| %>
      <li><%= "*" * review.rating %> <%= review.content %></li>
       <% end %>
    </ul>
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-outline-dark btn-sm" %>
  </div>
</div>
